 /* Sidebar Styling */
 .sidebar {
    height: 100vh; /* Membatasi tinggi sidebar agar memenuhi tinggi layar */
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa; /* Light background for the sidebar */
    color: black; /* Black text color for better visibility */
    transition: width 0.3s;
    padding-top: 120px;
    overflow-y: hidden; /* Default no scroll */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for sidebar */
}

/* Scroll aktif saat hover */
.sidebar.hover-scroll {
    overflow-y: auto; /* Scroll only when hover */
}

.sidebar:hover {
    width: 250px; /* Expand on hover */
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #e2e6ea; /* Hover effect for the menu items */
}

.sidebar a.active {
    background-color: #e2e6ea !important;
    color: #000 !important;
}


/* Mengubah warna ikon menjadi biru */
.sidebar i {
    font-size: 18px; /* Ukuran ikon yang lebih kecil */
    min-width: 50px; /* Ukuran tetap untuk ikon */
    text-align: center;
    color: #717476; /* Warna biru muda untuk ikon */
}

.sidebar span {
    display: none; /* Hide text initially */
}

.sidebar:hover span {
    display: inline-block; /* Show text on hover */
}

/* Animasi geser konten dan breadcrumb */
.main-content {
    transition: margin-left 0.3s;
    margin-left: 80px;
}

.sidebar:hover ~ .main-content {
    margin-left: 170px; /* Adjust content when sidebar expands */
}
